node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log

# Debug capture bundles (written by the dev-server capture endpoint)
debug-captures/

# Performance recordings (written by the dev-server /__perf endpoint)
perf-recordings/
